@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans&display=swap");

* {
  box-sizing: border-box;
}

.heading-content {
  flex: 1;
  background-image: url("Images/banner4.png");
  background-size: cover;
}
.content-headline {
  font-family: Agbalumo;
  font-size: 50px;
  padding: 50px;
  color: rgb(90, 223, 235);
  text-align: center;
}

.content-headline-two {
  font-family: Agbalumo;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: yellow;
  text-align: center;
  background-color: blue;
}

.content-headline-three {
  font-family: Agbalumo;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  /* color: yellow; */
  text-align: center;
}

.nav-title {
  font-family: Playpen Sans;
  text-decoration: none;
}

.home {
  background-color: rgb(202, 194, 55);
}

.navigation {
  background-image: url("./Images/banner.png");
}

body {
  margin: 20px;
  background: hsl(70, 31%, 85%);
  text-align: center;
}

.homepage {
  background-image: url("./Images/agcastle.jpg");
  background-size: cover;
  height: 500px;
  width: 500px;
  justify-content: center;
  background-blend-mode: lighten;
  padding-bottom: 10px;
  padding-top: 50px;
}

.main-form {
  flex: 1;
  width: 600px;
  height: 700px;
  background-color: rgb(93, 93, 154);
  background-size: cover;
  /* box-shadow: 12px 12px 2px 1px rgba(56, 52, 2, 0.2); */
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 5px;
  color: white;
}

.agcastle-image {
  width: 400px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: double;
}

.container-section {
  font-family: Playpen Sans;
  background-image: url("Images/bg_ripped_yellow.png");
  background-size: cover;
}

.container {
  font-family: Playpen Sans;
}

.topbar {
  background-image: url("./Images/banner.png");
  height: 150px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.company-name {
  padding-top: 20px;
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-family: Rubik Iso;
  font-weight: normal;
  color: white;
}

.button {
  font-size: x-large;
}

.new-product-container {
  height: 600px;
  width: 600px;
  background-color: rgb(176, 58, 58);
  background-size: cover;
  box-shadow: 12px 12px 2px 1px rgba(56, 52, 2, 0.2);
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 5px;
  color: black;
}
.list {
  list-style: none;
}

.image {
  flex: 1;
  width: 100px;
  height: 160px;
}
